.error-popup {
    width: 120vw;
    height: 120vh;
    background: rgba(0, 0, 0, 0.42);
    z-index: 5;
    position: fixed;
    top: -10vh;
    left: -10vw;
    @include FlexCenter();
    overflow: visible;

    &-x {
        z-index: 6;
        display: block;
        position: fixed;
        right: 10px;
        top: 50px;
        cursor: pointer;
    }

    &-msg {
        width: 100%;
        max-width: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0 40px 0;
        border-radius: 13px;
        background-color: #fff;

        &-icon-cont {
            width: 60px;
            height: 60px;
        }

        &-title {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            margin-top: 20px;
        }

        &-text {
            display: block;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            max-width: 400px;
            width: 100%;
            margin-top: 10px;
        }

        &-btn {
            background: linear-gradient(90deg, #E60000 0%, #001A75 100%);
            border-radius: 15px;
            width: 140px;
            height: 35px;
            margin-top: 25px;
            @include FlexCenter();
            color: #fff;
        }
    }
}