.login {
    &-container {
        @include FlexCenter();
        height: 100vh;
        width: 100%;
    }

    width: 500px;
    height: auto;
    background: linear-gradient(270deg, #1045CF 1.75%, #FF002E 98.97%);
    border-radius: 50px;

    &-title {
        font-weight: 700;
        font-size: 32px;
        line-height: 65px;
        text-align: center;
        color: white;
        margin-top: 25px;
        margin-bottom: 20px;
    }

    &-input {
        width: 400px;
        height: 60px;
        background: rgba(0, 0, 0, 0.24);
        border-radius: 15px;
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: white;
        margin-left: auto;
        margin-right: auto;
        padding-left: 16px;
        margin-bottom: 20px;
    }

    &-button {
        background: rgba(0, 0, 0, 0.24);
        border-radius: 15px;
        color: white;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        @include FlexCenter();
        height: 60px;
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .login-error {
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        color: #FFFFFF;
        margin-bottom: -20px;
    }
}

@media (max-width: 500px) {
    .login {
        max-width: 100%;

        &-input {
            max-width: 90vw;
        }
    }
}