.blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 38px;
    grid-row-gap: 50px;
    margin-bottom: 150px;

    &-title {
        font-weight: 700;
        font-size: 38px;
        line-height: 40px;
        margin-top: 38px;
        margin-bottom: 50px;
    }
    

    &-img {
        width: 78px;
        height: 78px;
        margin-top: -39px;
    }

    .block {
        &-title {
            font-weight: 600;
            font-size: 20px;
            line-height: 22px;
            margin-bottom: 18px;
            position: relative;

            &::after {
                content: "";
                display: block;
                height: 1px;
                width: 420px;
                position: absolute;
                bottom: -10px;
                background-color: #E3E3E2;;
            }
        }

        &-article {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 420px;
            height: 30px;
            cursor: pointer;
            padding: 0px 4px;
            margin-bottom: 6px;

            
            
            
            &:last-child {
                margin-bottom: 0;
            }
            
            &:hover {
                background-color: rgb(175, 175, 175);
            }

            &-locked {
                &:hover {
                    background: #FFF;
                }
            }

            &-img-container {
                margin-top: -2px;
                width: 17px;
                height: 17px;
            }

            &-title {
                font-weight: 500;
                font-size: 16px;
                line-height: 15px;
                margin-left: 7px;
                padding: 4px 0;
                border-bottom: 1px solid #D9D9D9;
                max-width: 420px;
                
            }
        }

        &-wrapper {
            position: relative;

            &-img {
                z-index: 3;
                position: absolute;
                width: 100px;
                height: 100px;
                top: 30%;
                left: 30%;
                cursor: pointer;
            }
        }

        &-locked {
            filter: blur(5px);
            position: relative;

        }
    }
}


@media (max-width: 750px) {
    .blocks {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-img {
            width: 50px;
            height: 50px;
            margin-top: -25px;
        }

        &-title {
            font-size: 28px;
        }
    }

    .block {
        &-title::after {
            width: 331px;
        }
        &-article {
            width: 331px;

            &-title {
                max-width: 331px;
                line-height: 25px;
            }
        }
    }
}

@media (max-width: 450px) {
    .blocks {
        &-title {
            font-size: 20px;
            line-height: 25px;
            margin-top: 20px;
            margin-bottom: 25px;
        }

        .block {
            &-title::after {
                width: 331px;
            }
    
            &-article {
                width: 331px;
    
                &-title {
                    width: 331px;
                    font-size: 12px;
                    font-weight: 600;
                }
            }
        }
    }

}